<div class="container">
    <img src="https://document-export.canva.com/-3xos/DAFCdW-3xos/83/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220602%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220602T212601Z&X-Amz-Expires=9902&X-Amz-Signature=17e729f3fe2064388b8878977324b179bfc889800bd831d5216f15b674f4f35f&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2003%20Jun%202022%2000%3A11%3A03%20GMT" alt="logo" height="45px" class="logo">
    <nav class="site-nav">
        <ul class="links">
            <li><a href="/">My Profile</a></li>
            <li><a href="/pets">My Pets</a></li>
            <li><a href="/friends">Furever Friends</a></li>
            <li><a href="/possible">Pawsible Friends</a></li>
        </ul>
    </nav>
</div>
