<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./style.css">
    <title>Landing</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="../logoPuppyLove.png" alt="logo" height="45px" class="logo">
            <nav class="site-nav">
                <ul class="links">
                    <li><a href="/">My Profile</a></li>
                    <li><a href="/pets">My Pets</a></li>
                    <li><a href="/friends">Furever Friends</a></li>
                    <li><a href="/possible">Pawsible Friends</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div>
  
            <div>
                <a href="/pets/new">Get Started</a>
          </div>
        </div>


    </main>
</body>
</html>